@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #ededed;
    --secondary: #333333;
    --background: #cccccc;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;

    background-color: var(--background);
}


nav {
    min-height: 100vh;
    width: 18rem;
    background-color: #333333;
    padding-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    gap: 4rem;
}

#nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#nav-logo span {
    font-size: 1.2rem;
    color: var(--primary);
}

.nav-button {
    font-family: 'Poppins', sans-serif;

    padding: 1rem;
    width: 100%;
    border: none;

    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: center;
    font-weight: 500;
    font-size: 0.8rem;

    color: var(--primary);
    background-color: var(--secondary);
    text-decoration: none;
}

.nav-button i {
    font-size: 1.4rem;
}

.nav-button:hover {
    cursor: pointer;
    background-color: #cccccc;
    color: var(--secondary);
}

.nav-button:active {
    cursor: pointer;
    background-color: #eeeeee;
    color: var(--secondary);
}

.selected-button {
    color: var(--secondary);
    background-color: var(--primary);
}

.response-box {
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    padding: 1rem;
    font-size: 0.9rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.response-box i {
    font-size: 1rem;
}

.response-box-success {
    background-color: lightgreen;
    color: green;
}

.response-box-warning {
    background-color: lightyellow;
    color: darkorange;
}

.response-box-error {
    background-color: lightcoral;
    color: maroon;
}

.close-response-box {
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.close-response-box:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.close-response-box:active {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

main {
    width: 100%;
}

p, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.heading-container {
    padding: 2rem;
}

.data-card {
    background-color: #dddddd;
    padding: 2rem;
}

.divider {
    height: 1rem;
}

.candidate-cards {
    display: flex;
    gap: 1rem;
}

.candidate-card {
    width: 100%;
    background-color: #333333;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}


.candidate-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.candidate-title h4 {
    font-weight: 500;
    color: var(--primary);
}

.candidate-title span {
    color: var(--background);
    font-weight: 200;
    font-size: 0.8rem;
}

.candidate-stats {
    background-color: #cccccc;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.candidate-stats p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.candidate-stats h2 {
    font-weight: 400;
    font-size: 2.6rem;
}

.candidate-overall-progress {
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
}

.progress-block {
    border: 1px solid var(--background);
    height: 0.5rem;
    width: 100%;
}

.filled {
    background-color: var(--background);
}

.go-to-page-btn {
    background-color: var(--primary);
    color: #333333;
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-card {
    background-color: var(--secondary);
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.stats-card > h4 {
    color: #dddddd;
    font-weight: 500;
}

.graph {
    width: 100%;
    height: 8rem;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.graph-item {
    width: 100%;
    background-color: #dddddd;
    border: 0.5rem solid #333333;
    height: 1rem;
}

#graph-pu {
    height: 4rem;
}

#graph-si {
    height: 7rem;
}

#graph-bl {
    height: 2rem;
}

#graph-pe {
    height: 3rem;
}

.graph-info {
    width: 100%;
    color: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.graph-info p {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

.hidden-form-field {
    display: none;
}

.text-input-field {
    font-family: 'Poppins', sans-serif;
    background-color: #eeeeee;
    padding: 1rem;
    font-size: 0.8rem;
    border: 1px solid var(--secondary);
    outline: none;
}

.form-label-and-hint {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#form-hint {
    font-size: 0.7rem;
    font-weight: 300;
}

#form-address-and-poling {
    display: flex;
    gap: 1rem;
}

.select-field {
    font-family: 'Poppins', sans-serif;
    background-color: #eeeeee;
    padding: 1rem;
    font-size: 0.8rem;
    border: 1px solid var(--secondary);
    outline: none;
}

#custom-radio-button-field {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid var(--secondary);
    border-left: none;
}

.custom-radio-buttom {
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: #eeeeee;
    border-left: 1px solid var(--secondary);
}

.custom-radio-buttom:hover {
    cursor: pointer;
    background-color: #cccccc;
    color: var(--secondary);
}

.custom-radio-buttom:active {
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--background);
}

.selected-radio {
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--primary);
}

#form-button {
    font-family: 'Poppins', sans-serif;

    padding: 1rem;
    width: 100%;
    border: 1px solid var(--secondary);

    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    background-color: #eeeeee;
}

#form-button i {
    font-size: 1.4rem;
}

#form-button:hover:enabled {
    cursor: pointer;
    background-color: #cccccc;
    color: var(--secondary);
}

#form-button:active:enabled {
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--background);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #eeeeee;
}

td,
th {
    padding: 1rem;
    text-align: left;
}

th:first-child,
td:first-child {
    padding-left: 2rem;
}

tr:nth-child(even) {
    background-color: #cccccc;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

tr {
    font-size: 0.8rem;
}