<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="styles.css">

    <!-- phosphoricons -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <title>Block Ballot</title>
</head>

<body>
    <nav>
        <div id="nav-logo">
            <img src="./images/blo_pro_logo-light-01.png" alt="Logo" width="50" height="50">
            <span id="Logo">Block Ballot</span>
        </div>

        <div id="nav-buttons">
            <a href="/" class="nav-button">
                <i class="ph ph-rows"></i>
                <span>Dashboard</span>
            </a>
            <a href="/castvote" class="nav-button selected-button">
                <i class="ph ph-archive-box"></i>
                <span>Cast Vote</span>
            </a>>
        </div>
    </nav>

    <main>
        <div>
            <div class="heading-container">
                <h3>Cast Vote</h3>
            </div>
            <div class="data-card">
                <form action="/castvote" method="post">

                    <div id="form-address-and-poling">
                        <div class="form-field">
                            <div class="form-label-and-hint">
                                <label for="address">Address</label>
                                <span id="form-hint">42 characters remaining</span>
                            </div>
                            <input class="text-input-field" type="text" name="address" id="address-field"
                                placeholder="0x71C7656EC7ab88b098defB751B7401B5f6d8976F">
                        </div>

                        <div class="form-field">
                            <div class="form-label-and-hint">
                                <label for="address">Poling Unit</label>
                            </div>
                            <select class="select-field" name="polingunit" id="poling-unit-field">
                                <option value="Punjab">Punjab</option>
                                <option value="Balochistan">Balochistan</option>
                                <option value="Sindh">Sindh</option>
                                <option value="Peshawer">Peshawer</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-field">
                        <label>Candidate</label>
                        <div id="custom-radio-button-field">
                            <div class="custom-radio-buttom"><%= candidate1 %></div>
                            <div class="custom-radio-buttom"><%= candidate2 %></div>
                        </div>
                    </div>
                    
                    <div class="hidden-form-field">
                        <input type="text" name="candidate" id="candidate-field">
                    </div>

                    <input id="form-button" type="submit" value="VOTE" disabled>
                </form>
            </div>
        </div>
    </main>

    <script src="./castvote.js"></script>
</body>

</html>