<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="styles.css">

    <!-- phosphoricons -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <title>Block Ballot</title>
</head>

<body>

    <% if (typeof response != 'undefined') { %>

        <% if(response == "success") { %>
            <div class="response-box response-box-success">
                <i class="ph-fill ph-check-circle"></i>
                <p>Voted casted successfully.</p>
                <button class="close-response-box">
                    <i class="ph ph-x"></i>
                </button>
            </div>
        <% } else if(response == "duplicate") { %>
            <div class="response-box response-box-warning">
                <i class="ph-fill ph-warning"></i>
                <p>This user has voted already.</p>
                <button class="close-response-box">
                    <i class="ph ph-x"></i>
                </button>
            </div>
        <% } else { %>
            <div class="response-box response-box-error">
                <i class="ph-fill ph-bug"></i>
                <p>An unexpected error occured.</p>
                <button class="close-response-box">
                    <i class="ph ph-x"></i>
                </button>
            </div>
        <% } %>    

    <% } %>

    <nav>
        <div id="nav-logo">
            <img src="./images/blo_pro_logo-light-01.png" alt="Logo" width="50" height="50">
            <span id="Logo">Block Ballot</span>
        </div>

        <div id="nav-buttons">
            <a href="/" class="nav-button selected-button">
                <i class="ph ph-rows"></i>
                <span>Dashboard</span>
            </a>
            <a href="/castvote" class="nav-button">
                <i class="ph ph-archive-box"></i>
                <span>Cast Vote</span>
            </a>
        </div>
    </nav>

    <main>
        <div>
            <div class="heading-container">
                <h3>Summary</h3>
            </div>
            <div class="data-card">
                <div class="candidate-cards">
                    <div class="candidate-card">
                        <div class="candidate-title">
                            <div>
                                <h4>Sir Alex Ferguson</h4>
                                <span>Candidate 1</span>
                            </div>
                            <a class="go-to-page-btn" href="https://en.wikipedia.org/wiki/Alex_Ferguson"
                                target="_blank">
                                <i class="ph ph-arrow-up-right"></i>
                            </a>
                        </div>
                        <div class="candidate-stats">
                            <p>Votes</p>
                            <h2><%= voteCount1 %></h2>
                        </div>
                        <div class="candidate-overall-progress">

                            <% bars1 = isNaN(bars1) ? 0 : bars1 %>

                            <% for (let i = 0; i < bars1; i++) { %>
                                <div class="progress-block filled"></div>
                            <% } %>

                            <% for (let i = bars1; i < 10; i++) { %>
                                <div class="progress-block"></div>
                            <% } %>

                        </div>
                    </div>
                    <div class="candidate-card">
                        <div class="candidate-title">
                            <div>
                                <h4>Pep Guardiola</h4>
                                <span>Candidate 2</span>
                            </div>
                            <a class="go-to-page-btn" href="https://en.wikipedia.org/wiki/Pep_Guardiola"
                                target="_blank">
                                <i class="ph ph-arrow-up-right"></i>
                            </a>
                        </div>
                        <div class="candidate-stats">
                            <p>Votes</p>
                            <h2><%= voteCount2 %></h2>
                        </div>
                        <div class="candidate-overall-progress">

                            <% bars2 = isNaN(bars2) ? 0 : bars2 %>

                            <% for (let i = 0; i < bars2; i++) { %>
                                <div class="progress-block filled"></div>
                            <% } %>

                            <% for (let i = bars2; i < 10; i++) { %>
                                <div class="progress-block"></div>
                            <% } %>

                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="stats-card">
                    <h4>Poling Unit's vote distribution</h4>
                    <div class="graph">
                        <div class="graph-item" id="graph-pu"></div>
                        <div class="graph-item" id="graph-si"></div>
                        <div class="graph-item" id="graph-bl"></div>
                        <div class="graph-item" id="graph-pe"></div>
                    </div>
                    <div class="graph-info">
                        <p>Punjab</p>
                        <p>Sindh</p>
                        <p>Balochistan</p>
                        <p>Peshawer</p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="heading-container">
                <h3>Voters</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Address</th>
                        <th>Vote Time</th>
                        <th>Poling Unit</th>
                        <th>Vote</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>0x71C7656EC7ab88b098defB751B7401B5f6d8976F</td>
                        <td>12:45 am, 11/05/2023</td>
                        <td>Punjab</td>
                        <td>Sir Alex Ferguson</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>0x71C7656EC7ab88b098defB751B7401B5f6d8976F</td>
                        <td>01:45 am, 11/05/2023</td>
                        <td>Sindh</td>
                        <td>Sir Alex Ferguson</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>0x71C7656EC7ab88b098defB751B7401B5f6d8976F</td>
                        <td>02:45 am, 11/05/2023</td>
                        <td>Balochistan</td>
                        <td>Pep Guardiola</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>0x71C7656EC7ab88b098defB751B7401B5f6d8976F</td>
                        <td>02:45 am, 11/05/2023</td>
                        <td>Balochistan</td>
                        <td>Pep Guardiola</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>0x71C7656EC7ab88b098defB751B7401B5f6d8976F</td>
                        <td>02:45 am, 11/05/2023</td>
                        <td>Balochistan</td>
                        <td>Pep Guardiola</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>0x71C7656EC7ab88b098defB751B7401B5f6d8976F</td>
                        <td>02:45 am, 11/05/2023</td>
                        <td>Balochistan</td>
                        <td>Pep Guardiola</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>0x71C7656EC7ab88b098defB751B7401B5f6d8976F</td>
                        <td>02:45 am, 11/05/2023</td>
                        <td>Balochistan</td>
                        <td>Pep Guardiola</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script src="./index.js"></script>
</body>

</html>